- editor_complexity = "full"
- if can_edit?
  #primary{:id => "#{element.id}"}
    = render "lava/elements/text", { :element => element, :args => args }
- else
  - if args[:no_text_modifiers] == true
    = strip_tags element.value.html_safe rescue nil
  - else
    = element.value.html_safe rescue nil
  

  
