- editor_complexity = "full"
- if can_edit?
  #primary{:id => "#{element.id}"}
    = render "lava/elements/text", { :element => element, :args => args }
- else
  = element.value.html_safe rescue nil

  
