- editor_complexity = "full"
- if args[:no_edit] == true
  = render "lava/elements/text", { :element => element, :args => args }
- else
  #primary{:"data-mercury" => "#{editor_complexity}", :id => "#{element.id}"}
    = render "lava/elements/text", { :element => element, :args => args }
  
