- editor_complexity = "full"
- if args[:no_edit] == true
  = render "lava/elements/text", { :element => element, :args => args }
- else
  #primary{:id => "#{element.id}"}
    = render "lava/elements/text", { :element => element, :args => args }
  
