- if element.value.present?
  - if args[:no_text_modifiers]
    = raw element.value
  - elsif args[:truncate].present?
    = raw truncate_words(element.value, args[:truncate])
  - else
    :markdown
      #{add_markup(element.value)}

- else
  - if can_edit?
    Click to edit...
