 .lava{
  .insert_image { position: fixed !important; position: absolute; right: 10px; top: -1px; z-index: 999;}
  .insert_file { position: fixed !important; position: absolute; right: 45px; top: -1px; z-index: 999;}
  
  #ajax_container{
    position:fixed !important;
    position:absolute;
    right:90px;
    top:0px;
    display: none;
    background:#fff2a3;
    border-radius: 0px 0px 4px 4px;
    font-family: arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    padding:6px 10px;
    float:left;
    border-left:1px solid #eee59d;
    border-right:1px solid #eee59d;
    border-bottom:1px solid #eee59d;
    z-index:999;
  }
  
  .saving{background:#FFF2A3 url('assets/lava/fbl.gif') 8px 5px no-repeat !important;padding-left:35px !important;}

  .cms{
    position:relative;
    i, em { font-style:italic;font-weight:normal; }
    

    .image_controls {
      position:absolute;
      top:0px;
      width: 100%;
      left:0px;
      z-index:5000;

      ul{
        padding:0;
        margin: 1px 4px 0px 3px;
        li#upload_link, li#delete_link{
          display:inline;
          color: #fff;
          float: left;
          display: inline;
          position: relative;
          margin: 4px 4px 6px 0;      
          
          a{
            background:#fff;
            color: #111;
            border: 1px solid #666;
            box-shadow: 0px 0px 3px #fff;
            border-radius: 2px;
            font-weight: normal;
            text-decoration: none;
            font-family: arial;
            display: inline;
            font-size:11px;
            line-height: 11px;
            outline: none;
            padding:4px 3px;
            &:hover, &.hover {
              background:#ffcc33;
              color:#111;
              cursor: pointer;

            }
            &:active {

              color:#fff;
              cursor: pointer;
              position: relative;
              top: 1px;
              left: 1px;

            }
          }
        }
      }
    }

  }

  .editable{
    textarea{
      display:block;
      width:99% !important;
    }
    button{font-size:12px;font-weight:normal;}
  }
}