%ul
  %li TODO: update navigation

%h3 Text Element:
= lava({:reference => "element_1", :element_type => "text"})

%h3 Textarea Element:
= lava({:reference => "element_2", :element_type => "text", :rows => "10"})

%h3 Image Element:
= lava({:reference => "element_3", :element_type => "image", :width => 200, :height => 200})